<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @lecture %> Updated!!</h1>
    <p>
      <%= @user.name %> go to likelion, and Check it!!
    </p>
  </body>
</html>